.about.pg-container {
    overflow: hidden;
}

.about-hero {  
    display: flex;
    justify-content: center;
        align-items: center;
        height: 80vh;
    padding-top: 1em;
    & .section {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & h2 {
            font-size: 7.2em;
            text-align: end;
            min-width: 10em;
            margin-left: 2em;
            }
    }
}

.about-intro {
    text-align: center;
    
    margin-top: 50%;
    opacity: 0;
    transition: ease;
    & p{
        color: var(--light);
        width: 27em;
        font-size: 0.8em;
    line-height: 2.2em;
    font-weight: 600;
    }

    & .panel {
        display: flex;
        flex-direction: column;

    }
}

.about-blurb {
    opacity: 0;
    margin: 5em 0em 6em 0em;
    transition: ease;
    & p{
    transition: ease;
    color: var(--light);
        width: 27em;
        font-weight: 200;
        line-height: 1.8;
        font-size: 1em;
        text-align: center;
    }
}

.about h3{
    font-size: 1.2em;
    font-weight: 900;
}
.panel{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease;
}

.team {
    display: flex;
    flex-direction: column;
    margin-top: 65%;
    gap: 2.4em;
    justify-content: center;
    align-items: center;    
    transition: ease;
    opacity: 0;
}

.contactCTA {
    margin-top: -40%;
    margin-bottom: -13em;
}

.members {
    display: flex;
    gap: 1.6em;
}

.about .card {
    display: flex;
    flex-direction: column;
    height: 14em;
    width: 13em;
    gap: 0.34em;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    box-shadow: 2px 2px 30px #5d26f62c;
    border-radius: 20px;
    padding: 0 2em;
}

.card p {
    font-size: 0.54em;
    line-height: 1.8;
    color: #ffffffce;
    font-weight: 300;
    margin: 0;
    width: 25em;
}


.about .card img {
    width: 8em;
    object-fit: contain;
}

.card h4 {
    line-height: 0;
    margin-block-end: 0;
    font-size: 0.78em;
    font-weight: 400;
}

.card h5 {
    line-height: 0;
    font-size: 0.56em;
    font-weight: 400;
    color: var(--primary);
}

  