/* 

Primary - #7A5B0A
Primary Light - #0C0C0C
Primary Lighter - #FFD977
Secondary - #000000
Secondary Light - #B2B2B2
Secondary Lighter - #1F1F1F
middle: #7C7C7C;
darkText: #545454;
Lighter - #FAFAFA
Light: #F8F8F8;
white: #ffffff;
*/

html { font-size: calc(1em + 1vw); }

:root {
  --primary: rgb(92, 38, 246);
  --primaryLight: rgba(93, 38, 246, 0.5);
  --primaryLighter: rgba(93, 38, 246, 0.25);
  --black: #000000;
  --secondary: #0E0E0E;
  --secondaryLight: #1a1a1a;
  --secondaryLighter: #282828;
  --middle: #7A7A7A;
  --darkText: #545454;
  --light: #F8F8F8;
  --lighter: #FAFAFA;
  --white: #ffffff;
}

html {
  background: var(--secondary);
}

a {
  text-decoration: none;
}

p {
  color: var(--darkText);
}

.flex {
  margin: auto;
  display: flex;
}


.main-btn {  
  font-weight: 600;
  font-size: 0.62em;
  margin: 25px;
  border-radius: 5px;
  padding: 0.88em 6.6em;
  text-align: center;
  display: block;
  color: var(--lighter);
  background-color: var(--primary);
  box-shadow: 1px 2px 5px rgba(49, 48, 48, 0.342);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.main-btn:hover{
  color: var(--primary);
  background-color: var(--primaryLighter);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.pg-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--primary);
  font-size: 0.66em;
  gap: 0.8em;
  text-align: center;
}

.pg-link img {
  width: 10em;
}

.pg-link:hover {
  color: var(--primaryLighter);
}

.App {
  background: var(--secondary);
  color: var(--light);
  position: absolute;
  width: 100vw;
  z-index: -1;
  font-family: 'Poppins', sans-serif;
}

.contactCTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactCTA h3 {
  color: var(--light);
  font-size: 1.4em;
  font-weight: 900;
}

.app-container:nth-child(1){
  visibility: hidden;
}

.app-container > * {
  visibility: visible;
}

/* HEADER */

header.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: -0.5em;
  padding: 0em 2em 0em 2em;
}

.logo {
  width: 2em;
  height: auto;
}

ul.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 2.4em;
}
.menu li a {
  color: var(--lighter);
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 0.58em;
}

.menu li a:hover {
  color: var(--primaryLighter);
}

.menu li a:focus {
  text-decoration: underline;
} 

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  padding-top: 1.6em;
  border-top: 0.1px var(--light) solid;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.1em;
  align-items: center;
  margin: auto;
}

.footer a{
  font-size: 0.5em;
  font-weight: 300;
  color: var(--light);
}

.footer a:hover {
  color: var(--primary);
}

.footer-links {
  display: flex;
  justify-content: center;
  padding-top: 1.4em;
  gap: 1.6em;
}

.footer-links a {
  font-size: 0.46em;
  font-weight: 400;
}

.footer span {
  margin:auto;
  padding-top: 3em;
  padding-bottom: 5px;
  font-size: 0.4em;
  color: var(--light);
}

/*PAGES*/

h1.pg-title  {
  width: fit-content;
  color: var(--primary);
  font-weight: 400;
  font-size: 0.6em;
}

.pg-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2.4em 8em
}