/* 

Primary - #7A5B0A
Primary Light - #0C0C0C
Primary Lighter - #FFD977
Secondary - #000000
Secondary Light - #B2B2B2
Secondary Lighter - #1F1F1F
middle: #7C7C7C;
darkText: #545454;
Lighter - #FAFAFA
Light: #F8F8F8;
white: #ffffff;
*/


:root {
  --primary: rgb(92, 38, 246);
  --primaryLight: rgba(93, 38, 246, 0.5);
  --primaryLighter: rgba(93, 38, 246, 0.25);
  --black: #000000;
  --secondary: #0E0E0E;
  --secondaryLight: #1a1a1a;
  --secondaryLighter: #282828;
  --middle: #7A7A7A;
  --darkText: #545454;
  --light: #F8F8F8;
  --lighter: #FAFAFA;
  --white: #ffffff;
}

html {
  background: var(--secondary);
  overflow-y: auto;
  overflow-x: hidden;
}


html { 
  font-size: calc(1em + 1vw); 

  @media (max-width: 767px) {
    font-size: calc(1em + 0.6vw); 
    
  }
  @media (max-width: 519px) {
    font-size: calc(1em + 0.4vw); 
  }
}

.app {
  overflow-x: hidden!important;

}

.app-container{
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p, label {
  color: var(--light);
}



.flex {
  margin: auto;
  display: flex;
}


.main-btn {  
  font-weight: 600;
  font-size: 0.62em;
  margin: 1em;
  border-radius: 5px;
  padding: 0.88em 6.6em;
  text-align: center;
  display: block;
  color: var(--lighter);
  background-color: var(--primary);
  box-shadow: 1px 2px 5px rgba(49, 48, 48, 0.342);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.main-btn:hover{
  color: var(--primary);
  background-color: var(--primaryLighter);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.pg-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: var(--primary);
  font-size: 0.66em;
  gap: 0.8em;
  text-align: center;
}

.pg-link img {
  width: 10em;
}

.pg-link:hover {
  color: var(--primaryLighter);
}

.App {
  background: var(--secondary);
  color: var(--secondary);
  position: absolute;
  width: 100vw;
  z-index: -1;
  font-family: 'Poppins', sans-serif;
}

h2, h3, h4 {
  color: var(--light);
}

.contactCTA {
  margin-top: -10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease;
  opacity: 0;
  transform: scale(0.2);
}

.contactCTA h3 {
  color: var(--light);
  font-size: 1.4em;
  font-weight: 900;
}

.app-container > * {
  visibility: visible;
}

/* HEADER */

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  top: 0;
  max-width: 100vw;
  margin-top: -2.5em;
  position:sticky;
  padding: 1em 2em 0em 2em;
  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  z-index: 2;
  background-color: #0e0e0e8e;
}

.header.hide {
  transform: translate(0, -5em);

}

.logo {
  width: 2em;
  height: auto;
}

ul.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 2.4em;
  & li {
    display: flex;
  }
}
.menu li a {
  color: var(--lighter);
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 0.58em;
}

.menu li a:hover {
  color: var(--primaryLighter);
  text-decoration: underline;
}

.menu li a:focus {
  text-decoration: underline;
} 

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 1.6em;
  border-top: 0.1px var(--light) solid;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.1em;
  align-items: center;
  margin: auto;
}

.footer a{
  font-size: 0.5em;
  font-weight: 300;
  color: var(--light);
}

.footer a:hover {
  color: var(--primary);
}

.footer-links {
  display: flex;
  justify-content: center;
  padding-top: 1.4em;
  gap: 1.6em;
}

.footer-links a {
  font-size: 0.46em;
  font-weight: 400;
}

.footer span {
  margin:auto;
  padding-top: 3em;
  padding-bottom: 5px;
  font-size: 0.4em;
  color: var(--light);
}



.services h2 {
  margin-top: 3em;
  font-size: 1.28em;
  font-weight: 900;
}


/*PAGES*/

h1.pg-title  {
  width: fit-content;
  margin: auto;
  color: var(--primary);
  font-weight: 400;
  font-size: 0.68em;
  line-height: 0;
}

.pg-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2.4em 8em;

  @media (max-width: 767px) {
    padding: 2em 2em;
  }
  @media (max-width: 400px) {
    color: red;
  }
}

/* HOVER ANIMATION */


/* HOVER ANIMATION */

.card {
  transition: all 0.6s ease-out;
  transform: rotateX(0deg) rotateY(0deg);
  perspective: 1000px;
  transform-style: preserve-3d;
  display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--black);

            border-radius: 30px;
            gap: 0;
            box-shadow: 2px 2px 16px #5d26f625;
}

.card-wrapper {
  transition: all 0.6s ease-out;
  perspective: 1000px;
  
  & .card-wrapper:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  & .t_over {
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
  }

  & .t_over:nth-child(1) {
    left: 0;
    top: 0;
  }
 
  & .t_over:nth-child(2) {
    left: 33.333%;
    top: 0;
  }

  & .t_over:nth-child(3) {
    left: 66.666%;
    top: 0;
  }

  & .t_over:nth-child(4) {
    left: 0;
    top: 33.333%;
  }

  & .t_over:nth-child(5) {
    left: 33.333%;
    top: 33.333%;
  }

  & .t_over:nth-child(6) {
    left: 66.666%;
    top: 33.333%;
  }

  & .t_over:nth-child(7) {
    left: 0;
    top: 66.666%;
  }

  & .t_over:nth-child(8) {
    left: 33.333%;
    top: 66.666%;
  }

  & .t_over:nth-child(9) {
    left: 66.666%;
    top: 66.666%;
  }

  & .t_over:nth-child(1):hover~.card, .t_over:nth-child(1):active~.card {
                        box-shadow: -6px -10px 20px #5d26f696;
    transform: rotateX(-20deg) rotateY(20deg);
  }
  
  & .t_over:nth-child(2):hover~.card, .t_over:nth-child(2):active~.card {
                        box-shadow: 0px 10px 20px #5d26f6cc;
    transform: rotateX(-20deg) rotateY(0deg)
  }
  
  & .t_over:nth-child(3):hover~.card, .t_over:nth-child(3):active~.card {
                        box-shadow: 6px -10px 20px #5d26f683;
    transform: rotateX(-20deg) rotateY(-20deg)
  }
  
  & .t_over:nth-child(4):hover~.card, .t_over:nth-child(4):active~.card {
                        box-shadow: -6px 0px 20px #5d26f6cc;
    transform: rotateX(0deg) rotateY(20deg)
  }
  
  & .t_over:nth-child(5):hover~.card, .t_over:nth-child(5):active~.card {
                        box-shadow: 3px 3px 20px #5d26f691;
    transform: rotateX(0deg) rotateY(0deg)
  }
  
  & .t_over:nth-child(6):hover~.card, .t_over:nth-child(6):active~.card {
                        box-shadow: 6px 0px 20px #5d26f686;
    transform: rotateX(0deg) rotateY(-20deg)
  }
  
  & .t_over:nth-child(7):hover~.card, .t_over:nth-child(7):active~.card {
                        box-shadow: -6px 10px 20px #5d26f66e;
    transform: rotateX(20deg) rotateY(20deg);
  }
  
  & .t_over:nth-child(8):hover~.card, .t_over:nth-child(8):active~.card {
                        box-shadow: 0px 10px 20px #5d26f66e;
    transform: rotateX(20deg) rotateY(0deg)
  }
  
  & .t_over:nth-child(9):hover~.card, .t_over:nth-child(9):active~.card {
                        box-shadow: 6px 10px 20px #5d26f657;
    transform: rotateX(20deg) rotateY(-20deg)
  }
}

/*PULSING CIRCLE*/


 .circle {
  background: radial-gradient(circle, rgba(93, 38, 246, 0.274) 0%, rgba(93, 38, 246, 0) 100%);
  height: 20vmax;
  width: 20vmax;
border-radius: 100%;
  box-shadow: 2px 4px 2px 16px #5d26f609;
  position: relative;
}

.circle-ring {
  position: absolute;
  background: radial-gradient(circle, rgba(93, 38, 246, 0.274) 0%, rgba(93, 38, 246, 0.11) 100%);

  height: 100%;
  width: 100%;
  box-shadow: 2px 4px 2px 16px #5d26f609;
  border-radius: 100%;
}

.circle-pulse {
  position: absolute;
  display: flex;
  margin: auto;
  z-index: -1;
}