/* 

Primary - #7A5B0A
Primary Light - #0C0C0C
Primary Lighter - #FFD977
Secondary - #000000
Secondary Light - #B2B2B2
Secondary Lighter - #1F1F1F
Light - #E0E0E0

*/

:root {
  --primary: #6d5008;
  --primaryLight: #7c5c0a;
  --primaryLighter: #FFD977;
  --secondary: #000000;
  --secondaryLight: #0C0C0C;
  --secondaryLighter: #1F1F1F;
  --light: #B3B3B3;
  --ligher: #E0E0E0;
  --white: #ffffff;
}

a {
  text-decoration: none;
}


.App {
  background: var(--secondaryLight);
  background: radial-gradient(50% 25% at 43% 18%, var(--secondaryLighter) 0%, var(--secondaryLight) 50%);
  height: 300vh;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

header.header {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  padding: 4vh 4vw 0 4vw;
}

.logo {
  width: calc(1rem + 5vw);
  height: auto;
}

ul.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.menu li {
  padding-left: 100px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-family: 'Karla';
  font-weight: 200;
  font-size: calc(1rem + 0.05vw);
}

.menu li a:hover {
  color: #FFD977;
}


.hero {
  display: flex;
  height: auto;
  width: 100%;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.hero-text {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 12% 5%;
  width: 100%;
}

.hero-h1 {
  border-left: 4px solid var(--primary);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text h1 {
  font-family: 'Karla';
  font-weight: 200;
  font-size: calc(1rem + 1.3vw);
  line-height: 60px;
  padding-left: 10px;
  text-transform: capitalize;
}

.hero-text p {
  font-weight: 100;
  line-height: 35px;
  font-size: calc(1rem + 0.2vw);
  padding: 15px 0 0 15px;
}

.cta-btns {
  display: flex;
}

.hero-btn {
  width: 134px;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 20px;
  margin: 20px 20px 0 10px;
  text-align: center;
  border-radius: 30px;
  display: block;
}

.hero-btn:nth-child(1){
  background-color: var(--primary);
  color: var(--light);
}

.hero-btn:nth-child(2){
  background-color: var(--secondary);
  border: 0.1em solid var(--secondaryLighter);
  color: var(--light);
}


/* scroll */

.scene {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.phones {
  width: auto;
  height: auto;
  max-width: 396px;
  min-height: 701px;
  max-height: 701px;
  object-fit: cover;
  object-position: 0 50%;
}

/* Services */

.services {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  color: var(--white);
  width: 15%;
  background-color: var(--secondaryLighter);
  padding: 20px 40px;
  margin: 150px 80px;
}

.service-icon {
  width: 60px;
  padding: 15px 0;
}

.service h2 {
  font-size: calc(1rem + 0.2vw);
}

.service p {
  font-size: calc(0.8rem + 0.1vw);
  font-weight: 100;
  line-height: 25px;
}