/* HERO */

.home {
    height: max-content;

    & .contactCTA {
        margin-bottom: 3em;
        margin-top: 0;
    }
}

.globe {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 25%;
    opacity: 0.4;
    z-index: -1;
}

.globe.mobile {
    width: 64vw;
    height: 64vh;
    top: -3%;
    left: 0%; 
}

.globe canvas:nth-child(2) {
    display: none !important;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.hero-text {
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8em 0;
    width: 100%;
}

.hero-text h1 {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 2.6em;
    text-align: center;
    line-height: 1;
    margin: 0;
    padding-bottom: 0.4em;
}

.emph {
    color: var(--primary);
    display: inline;
}

.anim-emph span {
    color: var(--primary)
}

.hero-text p {
    font-weight: 500;
    line-height: 0;
    font-size: 0.58em;
    color: var(--middle);
    text-align: center;
    margin: 1em 0 1.6em 0;
}

/* PHONE scroll */

.scene {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative !important;
}

.phones {
    width: auto;
    height: auto;
    max-width: 13em;
    min-height: 23em;
    max-height: 23em;
    object-fit: cover;
    object-position: 0 50%;
}

/* Services */

.services-container .circle-pulse {
    align-self: center;
}

.services {
    display: flex;
    margin: auto;justify-content: center;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.services-container.mobile {
    flex-direction: column;
    margin-bottom: 4em;

    & .services-text {
        padding: 1em 0 3em 0;
    }

    & .pg-link {
        padding-top: 2em;
        font-weight: 600;
        font-size: 0.8em;

        & img {
            width: 8em;
        }
    }
}

.services-text {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    & .blurb {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 15em;
        opacity: 0;
    }
}

.services-text p {
    color: var(--light);
    font-size: 1.4em;
    line-height: 1.1;
    font-weight: 500;

    @media (max-width: 767px) {
        text-align: center;
    }
}

/*SERVICES SLIDER*/

/*ABOUT*/


.home .pin-spacer {
    justify-content: center;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2em;
    margin-top: 100%;
    & h2 {
        font-size: 1.28em;
        font-weight: 900;
        line-height: 0.5;
    }

    & .circle {
        width: 14vmax;
        height: 14vmax;
    }

    & .about-text {
        padding: 2em 0 3em 0;
        width: 20em;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transform: scale(0.2);
        margin-top: 30%;
        & p {
            color: var(--light);
            font-weight: 600;
            text-align: center;
            font-size: 1em;
            line-height: 1.4;
        }
    }

    & .about-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .row {
            display: flex;
            align-self: center;
        }

        & h4 {
            color: var(--light);
            font-size: 0.78em;
            font-weight: 900;
            line-height: 0.6;
            margin-bottom: 1em;
        }

        & img {
            max-height: 2.6em;
            min-height: 2em;
            min-width: 2em;
            object-fit: contain;
        }

        & p {
            color: var(--light);
            line-height: 1.6;
            font-weight: 300;
            font-size: 0.56em;
            text-align: center;
            width: 100%;
        }

        & .card {
            background-color: #090909;
            width: 9em;
            padding: 2em 1.8em 2em 1.8em;
            margin: 0.46em;
        }

    }
}