  .slider-container {
    height: 26em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
  }
  
  .stage {
    width: 100vw;
    height: 34em;
    color: #ddd;
    cursor:pointer;
    top: 50%;
    transform-style: preserve-3d;
    perspective: 1200px;
    z-index: 1;
    justify-self: center;
    margin: auto;
    .process-card {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 12.6em;
      height: 16em;
      background-color: rgba(0, 0, 0, 0.89);
      padding: 1.8em 1.8em 2em 1.8em;
      box-shadow: 2px 4px 32px #5d26f65b;
      border-radius: 30px;
      overflow:hidden;
      left: 16.2em;
    perspective: 1000px;
    }
    /* .back.process-card::after {
      background-color: black;
      right: 0px;
      bottom: 0px;
      position: absolute;
      top: 0px;
      left: 0px;
      -webkit-transform: rotateY( 180deg );
      -webkit-transform-style: preserve-3d;
    } */
    
      .process-card > img {
        width:4em;
        height:auto;
      }
    
      .process-card p {
        font-weight: 200;
        color: var(--light);
        line-height: 1.5;
        font-size: 0.58em;
        text-align: center;
      }
    
      .process-card h4 {
        margin-block-end: 0.6em;
        font-weight: 900;
        font-size: 1.1em;
      }
    
  }
  